<h4>Status</h4>
<div class='status-row status-board'>
    <p><b>Points:</b> {{points}}</p>
    <p><b>Effects:</b> {{effects}}</p>
    <p><b>Seconds since last item use:</b> {{#if secondsSinceLastUse}}{{secondsSinceLastUse}}{{/if}}</p>
    <p><b>Autopilot</b></p>
    <p>
        <select class='form-control' {{action 'selectAutoPilotMode' on='change'}}>
            {{#each autopilotOptions key='@index' as |item|}}
                <option>{{item}}</option>
            {{/each}}
        </select>
    </p>
</div>
