<h4>Status</h4>
<div class='status-row status-board'>
    <p><b>Points:</b> {{points}} {{bs-form-element model=this property='stopPointLoop' controlType='checkbox' label='Stop point loop'}}</p>
    <p><b>Effects:</b> {{effects}}</p>
    <p><b>Badges:</b> {{badges}}</p>
    <p><b>Seconds since last item use:</b> {{#if secondsSinceLastUse}}{{secondsSinceLastUse}}{{/if}}</p>
    {{autopilot-toggle}}
</div>
