<div class="container">
    {{message-list messages=model.messages}}
    <div class='row'>
        <div class='col-xs-4 well'>
            <div class='row'>
                <div class='col-xs-12'>
                    {{manage-api-key}}
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    {{status-board}}
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    {{add-item-form}}
                </div>
            </div>
        </div>
        <div class='col-xs-8'>
            <div class='game-item-list'>
                {{game-item-list items=model.items}}
            </div>
        </div>
    </div>
</div>
